/fisio_seguro_app/.idea
/fisio_seguro_app/.dart_tool
/fisio_seguro_app/.vscode
/fisio_seguro_app/android
/fisio_seguro_app/build
/fisio_seguro_app/ios
/fisio_seguro_app/linux
/fisio_seguro_app/macos
/fisio_seguro_app/web
/fisio_seguro_app/windows